<div>
  <h3>Варіант <%= @index + 1 %></h3>
  <div>
    Нехай задано <b><%= @current_task.alternative_count %></b> альтернатив та <b><%= @current_task.origin_criteria_count%></b>
    критеріїв які <%= CriteriaMapDecorator.criteria_type_name(@current_task) %>. Необхідно побудувати відношення <%= RelationDecorator.r_omega %>.
  </div>
  <div>
    <table>
      <tr>
        <td>

        </td>
        <% @current_task.origin_criteria_count.times do |i| %>
          <td>Крит <%= i + 1 %></td>
        <% end %>
      </tr>
      <% @current_task.origin_map.each_with_index do |row, i| %>
        <tr>
          <td>Альт <%= i + 1 %></td>
          <% row.each do |cel| %>
            <td><%= cel %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <% if @current_task.quasy_order? %>
    <div>
      <table>
        <tr>
          <td colspan="<%= @current_task.classes.size + 1 %>" style="text-align: right;">Класи</td>
        </tr>
        <tr>
          <td>Критерії</td>
          <% @current_task.classes.each do |range| %>
            <td>
              <% if range.to_a.size == 1 %>
                <%= range.first + 1 %>
              <% else %>
                <%= "#{range.to_a.first + 1} - #{range.to_a.last + 1}" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
  <% end %>
</div>
